/* Header */
.header {
    height: 4rem;
    width: 100%;
    padding: 0 4rem;
    position: fixed;
    background-color: var(--bg-color);
    color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.header__nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.header__nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.header__nav-item:hover {
    border-bottom: 1px solid var(--highlighted-color);
}

.current-page {
    border-bottom: 3px solid var(--highlighted-color);
    font-weight: bolder;
}

.header a {
    text-decoration: none;
    color: var(--text-color);
}

.header a:active {
    transition: 1s;
}
