/* Home */
.home {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

	background-color: var(--bg-color);
    color: var(--text-color);
}

.home__big-heading {
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
}

.home__upper-text {
    margin-top: 60px;
}

.home__name {
    color: var(--text-color-highlighted);
}

.home__description {
    max-width: 600px;
    line-height: 1.5rem;
}